body {
    background: rgb(128, 128, 128);
}

h1 {
    color: rgba(158,41,41);
    background: darkgray;
}

.info-card {
    background: darkgray;
    margin-top: 21px;
}

.servings {
    display: inline;
    margin: 10px;
}

.time {
    display: inline;
    margin: 10px;
}

.prep {
    display: inline;
    margin: 10px;
}

.difficulty {
    display: inline;
    margin: 10px;
}

.allergens {
    margin: 10px;
}

.description {
    text-decoration: underline solid;
}

.description-card {
    background: darkgray;
    padding-bottom: 2px;
    margin-top: 25px;
}

.ingredients {
    text-decoration: underline solid;
}

.ingredients-card {
    background: darkgray;
    padding-bottom: 2px;
}

.instructions {
    text-decoration: underline solid;
}

.instructions-card {
    background: darkgray;
    padding-bottom: 2px;
    margin-bottom: 5px;
}