body {
    background: gray;
}

h1 {
    color: rgb(158, 41, 41);
    font-style: italic;
    font-stretch: expanded;
    text-align: center;
    margin-bottom: 24px;
    background: darkgray;
}

.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.links {
    text-align: center;
    font-size: large;
    font-family: fantasy;
    font-weight: 700;
    font-stretch: expanded;
}

.card {
    background-color: rgba(211, 211, 211, 0.76);
    margin: 24px;
    padding: 3px;
}